<div class="hero-photo--section">

</div>

{% schema %}
  {
    "name": "t:sections.hero-photo.name",
    "settings": [ 
{
	"type": "checkbox",
    "id": "show_announcement",
    "label": "Show announcement",
    "default": true
}
]



  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
