<style>
  
  .hero-photo--section {
    width: 100%;
    height: 500px;
  }
  
</style>

<div class="hero-photo--section">
  {% if section.settings.show_announcement %}
 
  <img src= {{ section.settings.image-picker.src | asset_url }} />
  
 
  {% endif %}

</div>

{% schema %}
  {
    "name": "t:sections.hero-photo.name",
	"tag": "section",
    "settings": [ 
{
	"type": "checkbox",
    "id": "show_announcement",
    "label": "Show announcement",
    "default": true
},
{
    "type": "image_picker",
    "id": "image-picker",
    "label": "The Hero Image"
}
]



  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
