<div class="hero-photo--section">
  {% if section.settings.checkbox.value %}
  <span>hello</span>
  {% endif %}

</div>

{% schema %}
  {
    "name": "t:sections.hero-photo.name",
	"tag": "section",
    "settings": [ 
{
	"type": "checkbox",
    "id": "show_announcement",
    "label": "Show announcement",
    "default": true
}
]



  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
